{% extends 'base/home.html' %}
{% block authorize %}
<div class="authorization row">
  <div class="block-center col-md-6">
    <div class="col-sm-2"></div>
    <div class="form-block col-sm-10">
      <h2>Регистрация</h2>
      <form action="" method="post">
          {% csrf_token %}
          {{ regform.as_p }}
        <p>
          <input type="hidden" name='formtype' value="registration">
          <input class="btn btn-success" type="submit" value="Зарегистрироваться" />
        </p>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="block-center col-md-6">
    <div class="col-sm-2"></div>
    <div class="form-block col-sm-10">
      <h2>Вход</h2>
      <form action="" method="post">
        {% csrf_token %}
        {{ loginform.as_p }}
        <p>
          <input type="hidden" name='formtype' value="login">
          <input class="btn btn-primary" type="submit" value="Войти" />
        </p>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

{% endblock %}
